body{
    margin: 100px;
    /* background-color: red; */
}
/* h2{
    display: inline-block;
background-color: red; */
/* margin: 50px; */
/* margin: 50px 10px; */
/* margin: 40px 50px 10px 10px; */
/* float: right; */
/* }
.left{
    float: left;
}
.right{
    float: right;
}


a{
    /* margin: 50px; */
/* background-color: salmon; */
/* display: inline-block; 
} */

/* .cube{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
    padding-right: 0px 50px 0px 0px;
}
.blue{
    background-color: blue;
    padding: 50px 0px 0px 0px; 
}


.g{
    width: 50px;
    height: 50px;

}
.left{
    background-color: coral;
    float: left;
}
.right{
    background-color: yellow;
    float: right;
} */


/* .box{
    margin: 50px;
    display: inline-block;
}

.box span{
    display: block;
    text-align: center;
    margin-bottom: 45px;
}

.box a{
    background-color:#2B4964;
    color: white;
    text-decoration: none;
    padding: 12px 55px;
    border: 1px solid #BEC8CF;
    border-radius: 5px;
} */
body{
    margin: 100px;
}
img{
    height: 95px;
    
}
.S{
    display: inline-block;
    width: 300px;
    padding: 43px 40px 55px 12px;
    border: 1px solid #707070;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px;
    
}
h2{
    font-size: 34px;
    margin: 35px 0 45px 0px;
}
p{
    line-height: 33px;
}
